/* The side navigation menu */
#menu {
  height: 100%;
  width: 40vw;
  position: fixed;
  z-index: 200;
  top: 0;
  left: 100%;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  text-transform: uppercase;
  overflow: hidden;
  padding: 30px; }

#menu-list-container .row {
  margin-bottom: 1.5rem; }

#menu a {
  text-decoration: none;
  color: black; }

/* When you mouse over the navigation links, change their color */
#projects-menu {
  z-index: 20; }

/* Position and style the close button (top right corner) */
#menu .closebtn {
  cursor: pointer;
  line-height: 0.2; }

@media (max-width: 991.98px) {
  #menu {
    width: 100vw; } }
